.dashboard-statistics {
    padding: 15px;
}

.summary-box-container {
    display: flex;
    gap: 20px;
}

.summary-box {
    min-width: 150px;
    min-height: 100px;
    #margin: 150px auto;
    background-color: rgba(24, 58, 55, 0.41);
    border-radius: 10px;
    padding: 0;
}

.summary-number {
    font-size: 25px;
    margin-top: 12px;
    #margin-left: 15px;
    font-weight: bold;
    text-align: center;
    #color: #5b84ea;
}

.summary-title {
    font-size: 18px;
    margin-top: 10px;
    #margin-left: 15px;
    text-align: center;
    #color: #5b84ea;
}