.book-details {
    display: flex;
    flex-direction: column;
    place-items: stretch;
}

.StarRating {
    text-align: center;
}

.book-details h2 {
    text-align: center;
}

.big-cover {
    height: 200px;
    aspect-ratio: auto;
    border: 1px solid #5b84ea;
    margin: 20px 0;
    place-self: center;
}

.stretch {
    align-self: stretch;
}

#top-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}