.book-form input:disabled, select:disabled, textarea:disabled {
    background-color: transparent;
    color: white;
    border: none;
}


.book-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10px;
}

.book-form input, select, textarea {
    background-color: #183A37;
    padding: 8px 5px;
    border: 1px solid #5b84ea;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.book-form label {
    margin-bottom: -10px;
}

.book-form button {
    margin-top: 10px;
}
