li {
    list-style: none;
    padding: 15px;
    text-align: left;
    display: grid;
    grid-template-areas: "cover info" "cover book-buttons";
    gap: 15px;
    justify-content: stretch;
    background-color: #183A37;
    border-radius: 15px;
}

.book-info {
    grid-area: info;
    align-self: flex-start;
    min-width: 170px;
}

.book-buttons {
    grid-area: book-buttons;
    align-self: flex-end;
    justify-self: flex-end;
}

.book-button {
    background-color: #C44900;
    color: #EFD6AC;
    border-radius: 5px;
    text-align: center;
    padding: 6px 12px;
    font-size: 1em;
    border: 1px solid transparent;
    transition: border-color 0.25s;
}



.book-button:hover {
    border-color: #EFD6AC;
    color: #EFD6AC;
}

.author {
    font-style: italic;
}

.cover {
    height: 100px;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    border: 1px solid white;
    grid-area: cover;
}