.book-card {
    list-style: none;
    padding: 15px;
    text-align: left;
    display: grid;
    grid: [row1-start] "cover info info"[row1-end]
        [row2-start] "cover book-buttons book-buttons"[row2-end]
        / 70px auto auto;
    column-gap: 15px;
    row-gap: 5px;
    justify-items: start;
    background-color: #183A37;
    border-radius: 15px;
    flex-grow: 1;
}



.book-info {
    grid-area: info;
    justify-self: flex-start;
    align-self: flex-start;
    min-width: 170px;
}

.book-buttons {
    grid-area: book-buttons;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.author {
    font-style: italic;
}

.cover {
    height: 100px;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    border: 1px solid white;
    grid-area: cover;
}

@media only screen and (min-width: 600px) {
    .book-card {
        /*width: 350px;*/
        /*flex-grow: 0;*/
    }

    /*.book-card:last-of-type {*/
    /*    justify-self: flex-start;*/
    /*}*/
}