
@media only screen and (max-width: 768px) {
    .dashboard-goal-summary {
        justify-content: center;
    }

    .dashboard-page {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dashboard-recent-books  {
        width: 350px;
        margin: auto;
        display: grid;
        place-content: center;
    }
}