@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Playwrite+DE+LA:wght@100..400&display=swap');

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

main {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-content: center;
  place-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 90px;
}

.material-symbols-outlined {
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}

.align-right {
  align-self: flex-end;
}

.align-left {
  align-self: flex-start;
}

.block {
  display: block;
}

h2 {
  color: #C44900;
  font-size: 30px;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
}

.book-label {
  font-weight: bold;
  color: #5B84EA;
  font-variant-caps: all-small-caps;
}


.book-button {
  background-color: #C44900;
  color: #EFD6AC;
  border-radius: 5px;
  text-align: center;
  padding: 6px 12px;
  font-size: 1em;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.book-button:hover {
  border-color: #EFD6AC;
  color: #EFD6AC;
}

@media only screen and (min-width: 768px) {
  main {
    margin-bottom: 10px;
  }
}